

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root { 
    --estilo-fonte: arial;
    --text-color: black;
    --cor-fundo: orange;
    --cor-fundo-p: white;
    --estilo-titulos: verdana;
}

.cabeçalho {
    background-color: var(--cor-fundo);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items:center; 
    padding: 20px;  
}

 
.menu{
    display: flex;
    
}
.menu li {
    margin: 15px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--estilo-fonte);
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: blueviolet;
}


.menu li :hover{
    font-size: 20px;
    background-color: chartreuse;
}

h2, h3 {
    text-align: center;
    font-family: var(--estilo-titulos);
    margin: 20px;
}
.principal p {
    background-color: var(--cor-fundo-p);
    margin: 50px;
    border: solid 1px ;
}

.formulario form {
    display: flex;
    background-color: var(--cor-fundo-p);
    margin: 20px;
    font-family: var(--estilo-fonte);
    font-size: 20px;


}

footer {
    background-color: var(--cor-fundo);
}
