*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --margem-geral: 20px;
    --cor-reader: #f526f5;
    --cor-footer: #55414f;
    --cor-secao: #ffffff;
    --estilo-secao: arial;
    --estilo-titulos: verdana ;
    --cor-texto: #333333;
    --cor-hover: #4abe3f;

    --tamanho-titulo-grande: 25px;
    --tamanho-titulo-medio: 18px;
    --tamanho-titulo-pequeno: 12px;

    --tamanho-texto-grande: 20px;
    --tamanho-texto-medio: 16px;
    --tamanho-texto-pequeno: 10px;

    
    --margem-grande: 20px;
    --margem-medio: 10px;
    --margem-pequeno: 5px;

}


header{
    background-color: var(--cor-reader);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    align-items: center;
    gap: 80px;
    padding: 10px ;
    margin: var(--margem-geral)
}

h1{
    font-family: var(--estilo-titulos);
}
 
h2 {
    background-color: grey;
    text-align: center;
    font-family: var(--estilo-titulos);
    padding: 10px;
    margin: 20px;
}


section p {
    margin: 20px;
    font-family: var(--estilo-secao);

}

footer {
    background-color: var(--cor-footer);
    color: white;
    padding: 40px 20px 20px 20px;
    font-size: 14px;
    margin: var(--margem-geral);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 
}

.footer-container > div {
    flex: 1 1 200px;
    
}

.footer-contato i,
.footer-redes a {
    color: white;
    margin-right: 15px;
    transition: transform 0.3s, color 0.3s;
}

.footer-redes a:hover,
.footer-redes a:focus {
    transform: scale(1.2);
    color: var(--cor-hover);
}

.footer-copy {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
}

@media (max-width: 1000px) {

    h1 {
        margin-bottom: var(--margem-grande);
    }

    h1,
    h2,
    h3 {
        padding: 15px 20px;
        font-size: var(--tamanho-titulo-grande);
    }

    p, footer { 
        padding: var(--espacamento-grande);
        margin: var(--margem-grande);
        font-size: var(--tamanho-texto-grande);
    }
}

@media (max-width: 780px) {

    h1 {
        margin-bottom: var(--margem-medio);
    }

    h1,
    h2,
    h3 {
        position: sticky;
        font-size: var(--tamanho-titulo-medio);
    }

    p, footer {
        padding: var(--espacamento-medio);
        margin: var(--margem-medio);
        font-size: var(--tamanho-texto-medio);
    }
}


@media (max-width: 600px) {

    h1 {
        margin-bottom: var(--margem-pequeno);
    }

    h1,
    h2,
    h3 {

        font-size: var(--tamanho-titulo-pequeno);
    }

    p, footer{
        padding: var(--espacamento-pequeno);
        margin: var(--margem-pequeno);
        font-size: var(--tamanho-texto-pequeno);
    }
}
 


