* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.cabeçalho {
  display: flex;
  flex-wrap: wrap;
  background-color: #0e0b0b;
  color: rgb(224, 24, 24);
  align-items: center;
  text-align: center;
  position: fixed;
  width: 1200px;
  gap: 80px;
}

.menu{
  display: flex;
  text-align: center;
  
}


.cabeçalho menu, li {
  background-color: aqua;
  margin-bottom: 10px;
  color: #050000;
  font-size: 12px;
}

h1 {
  
}



section article {
  margin-bottom: 30px;
}

.principal h1,
h2 {
  color: #004d99;
  text-align: center;
}

article {
  display: flex;
  justify-content: center;
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Formulário */
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 15px;
  background-color: #004d99;
  color: white;
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #003366;
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 700px;
}