
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: auto 1fr auto;  
    grid-template-areas: 
        "header header header"
        "sidebar main-content main-content"
        "footer footer footer"; 
    gap: 0;
    min-height: 100vh; /* Permite que a página cresça se o conteúdo for longo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão e moderna */
    background-color: #f4f4f4;
}

.header {
    background-color: #2c3e50;
    grid-area: header;
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    justify-content: center;
    text-align: center;
    padding: 15px 15px;
    gap: 20px;
    color: white;
}

.header img {
    border-radius: 50%;
    width: 60px;
    height: auto;
}

.header h2 {
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

h1 {
    font-size: 1.4rem;
}

 h2 {
    font-size: 1rem;
    color: #2c3e50;
    margin-top: 5px; /* Espaçamento entre seções */
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
} 


.sidebar {
    grid-area: sidebar;
    background-color: #34495e;
    padding: 10px;
    color: white;
    font-size: 0.8rem;
}

.sidebar h2 {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.main-content {
    grid-area: main-content;
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}
 .main-content article {
    text-indent: 10px;
    line-height: 1.3;
    font-size: 0.85rem;
 }

 ul {
    padding-left: 20px; /* Adiciona recuo padrão para listas */
 }

 li {
    margin-bottom: 2px; /* Adiciona espaço entre itens da lista, substituindo <br> */
    line-height: 1.2;
    font-size: 0.80rem;
 }

.footer {
    grid-area: footer;
    background-color: #2c3e50;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}